{% extends "layout.html" %}
{% block body %}
<dl>
    <dt>Address of new flat:
        <dd><input type="text" name="asunto" id="asunto">
            <dt>Find connections to following location:
		<dd><input type="text" name="poi" id="poi">
		    <dd><input type="button" id="button" value="Give connections"> on
			<select id="combobox">
			    <option value="Monday">Monday</option>
			    <option value="Wednesday">Wednesday</option>
			    <option value="Saturday">Saturday</option>
			    <option value="Sunday">Sunday</option>
			</select>
</dl>
<div id="loading">
    <p>Please wait, loading connections <img src="{{ url_for('static', filename='ajax-loader.gif') }}" /></p>
</div>
<canvas id="myChart" height="200px"></canvas>
<div id="route"></div>
<script src="{{url_for('static', filename = 'ui.js')}}"></script>
    {% endblock %}
