{% extends "layout.html" %}
{% block body %}
<form>
  <div class="row">
    <p>
  <label> From</label>
    <input type="text" name="asunto" id="asunto">
    </p>
  </div>
  <div class="row">
    <p>
    <label> To</label>
      <input type="text" name="poi" id="poi">
    </p>
  </div>
  <div class="row">
    <p>
	    <input type="button" id="button" value="Give connections"> on
	    <select id="combobox">
	      <option value="Monday">Monday</option>
	      <option value="Wednesday">Wednesday</option>
	      <option value="Saturday">Saturday</option>
	      <option value="Sunday">Sunday</option>
	    </select>
    </p>
  </div>
</form>	 
<div id="loading">
    <p>Please wait, loading connections <img src="{{ url_for('static', filename='ajax-loader.gif') }}" /></p>
</div>
<canvas id="myChart" height="200px"></canvas>
<div id="route"></div>
<script src="{{url_for('static', filename = 'ui.js')}}"></script>
    {% endblock %}
